<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
		<listener class-name="com.ttn.listeners.MyProjectListener" />	
	</listeners>
	 
        
        <parameter name="SheetName" value="${SheetName}"></parameter>  
        <parameter name="Environment" value="${Environment}"></parameter>
        <parameter name="EmailSend" value="no"></parameter>

	<test thread-count="5" name="Test" preserve-order="true">
		<groups>
			<run>
				<include name="${SheetName}" /> 				   
			</run>
			
		</groups>
		<classes>

			<class name="com.ttn.TestCases.FMP.SendOTPTest" />				 	   
 
		</classes>
	</test>
</suite> 
